<div class="container">
  <!-- タグ一覧 エリア -->
  <div class="row">
    <div class="col-md-10 offset-md-1 tag-div">
      <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
      <% end %>
      <div class="form-group">
        <% @videos.each do |video| %>
            <% video.tags.each do |tag| %>
                <%= link_to(tag.name, "#{video_rails_path}?t=#{tag.name}", class: 'badge badge-primary') %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row row-eq-height">
    <!-- 動画 エリア -->
    <div class="col-md-7 offset-md-1 video-div">
      <% @videos.each do |video| %>
          <div class="video-list" data-youtube-id="<%= video.youtube_id %>" data-play-time="<%= video.play_time %>"></div>
      <% end %>
      <div class="embed-responsive embed-responsive-16by9">
        <div id="video"></div>
      </div>
    </div>
    <!-- コメント表示 エリア -->
    <div class="col-md-3 message-div">
      <div class="card scrollbar-ripe">
        <div id="messages" class="card-body" data-room_id="<%= @videos.first.video_rail_id %>">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>
  <!-- コメント入力 エリア -->
  <div class="row">
    <div class="col-md-7 offset-md-1 py-2">
        <form class="form-inline">
          <div class="new-post col-md-12">
            <div class="form-group">
              <input type="text" id="comment" name="content" class="form-control col-md-10" data-behavior="room_message"/>
              <button id="comment_send" type="button" class="btn btn-primary col-md-2">送信</button>
              <%= hidden_field_tag 'room_id', @videos.first.video_rail_id, {:id => 'room_id'} %>
              <% if false %>
                  <% if logged_in? %>
                      <input type="text" id="comment" name="content" class="form-control col-md-10" data-behavior="room_message"/>
                      <button id="comment_send" type="button" class="btn btn-primary col-md-2">送信</button>
                      <%= hidden_field_tag 'room_id', @videos.first.video_rail_id, {:id => 'room_id'} %>
                  <% else %>
                      <input id="comment" class="form-control col-md-10" value="コメントを投稿するにはログインする必要があります" disabled="disabled"/>
                      <button id="comment_send" type="button" class="btn btn-primary col-md-2" disabled="disabled">送信</button>
                  <% end %>
              <% end %>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

<% content_for :inline_js do %>
    <%= javascript_include_tag 'videos' %>
    <%= javascript_include_tag 'cable' %>
<% end %>