<div class="container">
  <!-- タグ一覧 エリア -->
  <div class="row">
    <div class="col-md-10 offset-md-1 tag-div">
      <div class="form-group">
        <% @videos.each do |video| %>
            <% video.tags.each do |tag| %>
                <%= link_to(tag.name, "#{video_rails_path}?t=#{tag.name}", class: 'badge badge-primary') %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 動画 エリア -->
  <div class="row row-eq-height">
    <div class="col-md-7 offset-md-1">
      <% @videos.each do |video| %>
          <div class="video-list" data-youtube-id="<%= video.youtube_id %>" data-play-time="<%= video.play_time %>"></div>
      <% end %>

      <div class="embed-responsive embed-responsive-16by9">
        <div id="video"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card message-div scrollbar-ripe">
        <div id="messages" class="card-body" data-room_id="<%= @videos.first.video_rail_id %>">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>
  <!-- コメント入力 エリア -->
  <div class="row">
    <div class="col-md-7 offset-md-1 py-1">
      <% if logged_in? %>
        <form class="form-inline col-md-12">
          <div class="new-post col-md-12">
            <input id="comment" name="content" class="form-control" data-behavior="room_speaker"/>
            <button id="comment_send" type="button" class="btn btn-primary">送信</button>
            <%= hidden_field_tag 'room_id', @videos.first.video_rail_id, {:id => 'room_id'} %>
          </div>
        </form>
      <% else %>

      <% end %>
    </div>
  </div>
</div>

<% content_for :inline_js do %>
<%= javascript_include_tag 'videos' %>
<%= javascript_include_tag 'cable' %>
<% end %>